#main {
    background: white;
}

#title {
    text-align: center;
    background: #e1e1e1;
    padding: 20px 0 5px;
    margin-top: 40px;
}

#title h1 {
    font-size: 25px;
}

#img-div {
    text-align: center;
    padding: 50px;
}

#img-div img {
    width: 100%;
}

#tribute-info {
    width: 40%;
    margin: auto;
}

#tribute-info h4 {
    text-align: center;
}

#tribute-info ul li {
    margin-bottom: 15px;
}